.container{
    display: flex;
    flex-flow: row wrap;

    position: relative;
}


.card{
    margin: 10px;
    width: calc(100% / 3 - 20px);
    float: left;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.05);
    border-radius: 1rem;
    background: #D6CDA4;
    -webkit-transition: .3s all ease;
    transition: .15s all ease;
}

.container .card:hover {
    box-shadow: 0 0 8px 3px rgba(0,0,0,.15);
    transform: scale(1.025);
    opacity: 1;
    filter: grayscale(0);
    transition: .35s all ease;
}

.card img {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
}
.container .card .content {
    padding: 15px 20px;

    margin-top: -180px;


    opacity: 0;
    visibility: hidden;
    transition: .25s ease-in-out;

}

.top-right{
    /*remove:*/
    position: relative;

    font-size: 1.8rem;

    /*Hide the button*/
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.top-right span:nth-child(2){
    display: none;
}

.top-right:hover span:nth-child(1){
    display: none;
}
.top-right:hover span:nth-child(2){
    display: inline-block;
}

.container .card h2 {
    padding: 0;
    margin: 0 0 10px;
    letter-spacing: -.075rem
}
.container .card p {
    color: #888;
    padding: 0;
    margin: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: black;

}

a:hover h2{
    color: #0a5071;
}

a:hover{
    cursor: pointer;
}
a:hover .intro{
    background: beige;
}


.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -5px;
    transition-delay: .3s;

}

a:hover img{
    transform: scale(1.1) rotate(-1deg);
    border-radius: 1rem;

}